
<!-- EJS template, Using forloop 1:29:00 using embedded java script EJS-->
<!-- video time 2:53:00-->
  <div class="container">
          <div class="row">
              {{#each RajnumberOfImages}} 
              <div class="col-md-6">
                 <div class="thumbnail">
                 <img src="/images/{{../Rajcity}}/{{../Rajcity}}-{{this}}.jpg"/>
                 </div>
              </div>
              {{/each}}
          </div>
  </div>

